input {
  padding-left: 5px;
}

.btn {
  background: none;
  outline: none;
  min-width: 55px;
  border: none;
  text-align: center;
  padding: 6px 15px;
  border-radius: 5px;
  color: white;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.btn-info {
  background-color: rgb(54, 135, 241);
}
.btn-success {
  background-color: green;
}
.btn-danger {
  background-color: red;
}
.btn-warning {
  background-color: rgb(255, 208, 0);
}

.border-success {
  border: 2px solid green;
}

.border-danger {
  border: 2px solid red;
}

.border-info {
  border: 2px solid rgb(16, 96, 245);
}

.text-success {
  color: green;
}

.text-danger {
  color: red;
}

.text-info {
  color: rgb(54, 135, 241);
}

.form-input {
  outline: none;
  border-radius: 5px;
  height: 30px;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.flex-col {
  display: flex;
  flex-direction: column;
}
