{% extends 'main.html' %}


<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    

  
    <h1 style="text-align: center; color: aqua">It's Working</h1>


   

{% block content %}

<main class="layout layout--3">
  <div class="container">

    <!-- Topics Start -->
    

    <!-- Topics End -->

    <!-- Room List Start -->
    <div class="roomList">
      <div class="mobile-menu">
        <form action="{% url 'home' %}" method="GET" class="header__search">
          <label>
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <title>search</title>
              <path
                d="M32 30.586l-10.845-10.845c1.771-2.092 2.845-4.791 2.845-7.741 0-6.617-5.383-12-12-12s-12 5.383-12 12c0 6.617 5.383 12 12 12 2.949 0 5.649-1.074 7.741-2.845l10.845 10.845 1.414-1.414zM12 22c-5.514 0-10-4.486-10-10s4.486-10 10-10c5.514 0 10 4.486 10 10s-4.486 10-10 10z">
              </path>
            </svg>
            <input name="q" placeholder="Search for posts" />
          </label>
        </form>
        <div class="mobile-menuItems">
          <a class="btn btn--main btn--pill" href="/">Topics</a>
          <a class="btn btn--main btn--pill" href="/">All Activities</a>
        </div>
      </div>
      
      <div class="roomList__header">
        <div>
          <h2>All kebel</h2>
          <p> <h3>{{ all_kebele_count }}</h3></p> Kebeles available
        </div>

      </div>

   

    </div>
    <!-- Room List End -->

    <!-- Activities Start -->
  
    <!-- Activities End -->
  </div>
</main>

{% endblock %}