{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href=" {% static 'style/main.css' %}  " />
    <title>Index</title>

  
    <h1 style="text-align: center; color: aqua">It's Working</h1>

    <img src=" {% static 'img/img.jpg' %} " onclick="imgClick()" />

    <script src="{% static 'js/main.js' %} "></script>


